<app-navigation></app-navigation>
<app-header-page [title]="title" ></app-header-page>
<div class="flex flex-col px-20 pb-10 justify-center items-center">

  <svg height="74" width="74"  viewBox="0 0 128 128" xmlns="http://www.w3.org/2000/svg">
    <circle cx="64" cy="64" r="64" fill="#31af91" />
    <path d="M54.3 97.2L24.8 67.7c-.4-.4-.4-1 0-1.4l8.5-8.5c.4-.4 1-.4 1.4 0L55 78.1l38.2-38.2c.4-.4 1-.4 1.4 0l8.5 8.5c.4.4.4 1 0 1.4L55.7 97.2c-.4.4-1 .4-1.4 0z" fill="#fff" />
  </svg>

  <a href="/" class="px-8 py-3 bg-indigo-700 text-gray-50 mt-10 rounded-md">Back to Home</a>

</div>
<app-footer></app-footer>
