<div class="px-6">
   <div class="">
      <div class="text-center p-80 py-10">
         <button class="px-6 py-2 bg-indigo-100 text-indigo-700 rounded-xl font-semibold mb-6">Premium Course</button>
         <h1 class="text-5xl leading-normal">Web Design for Beginners: Real World Coding in HTML & CSS</h1>
         <div class="flex justify-center items-center mt-8">
            <div class="mx-8 px-4">
               <span class="block text-indigo-800 font-semibold text-xl border-b border-gray-400 ">Student</span>
               <span class="py-3 inline-block">139</span>
            </div>
            <div class="mx-8 px-4">
               <span class="block text-indigo-800 font-semibold text-xl border-b border-gray-400 ">Level</span>
               <span class="py-3 inline-block">Intermediate</span>
            </div>
            <div class="mx-8 px-4">
               <span class="block text-indigo-800 font-semibold text-xl border-b border-gray-400 ">Hours</span>
               <span class="py-3 inline-block">13 Hours</span>
            </div>
            <div class="mx-8 px-4">
               <span class="block text-indigo-800 font-semibold text-xl border-b border-gray-400 ">Lecture</span>
               <span class="py-3 inline-block">Andar Pratama</span>
            </div>
         </div>
      </div>
   </div>
</div>