<div class="flex w-full py-4 border-b mr-0">
  <div class="h-32 w-52 mr-6">
    <img class="w-full h-full" src="https://img-b.udemycdn.com/course/240x135/1561458_7f3b_2.jpg" alt="">
  </div>
  <div class="text-left py-3 truncate">
    <h2 class="text-xl">CSS - The Complete Guide 2021 (incl. Flexbox, Grid & Sass)</h2>
    <span class="font-light">By </span>
    <a href="#">Andar Pratama</a>
    <div class="mt-4 flex justify-between items-center">
      <div>
        <button class="hover:text-red-600 mr-4 underline">Remove</button>
        <button class="hover:text-indigo-700 underline">Move to Wishlist</button>
      </div>
      <div>
        <span class="text-xl text-indigo-900 font-semibold mb-4">Rp 1.200.000</span>
      </div>
    </div>
  </div>
</div>
