<div class="flex w-full py-4 border-b mr-0">
  <div class="h-32 w-52 mr-6">
    <img class="w-full h-full" src="{{ item.image }}" alt="">
  </div>
  <div class="text-left w-full py-3 truncate">
    <h2 class="text-xl">{{ item.title }}</h2>
    <span class="font-light">By </span>
    <a href="#">{{ item.instructor }}</a>
    <div class="mt-4 flex justify-between items-center pr-10">
      <div>
        <button (click)="deleteCart(item._id)" class="hover:text-red-600 mr-4 underline">Remove</button>
        <button class="hover:text-indigo-700 underline">Move to Wishlist</button>
      </div>
      <div>
        <span class="text-xl text-indigo-900 font-semibold mb-4">Rp {{ generateRupiahFormat(item.price) }}</span>
      </div>
    </div>
  </div>
</div>
