<div class="px-20 py-10 flex relative">
   <div class="w-3/5 py-6">
      <div class="mb-6">
         <h2 class="text-2xl font-semibold">Descriptions</h2>
         <hr class="my-2">
         <p class="leading-relaxed mb-6" >
            CSS - short for Cascading Style Sheets - is a "programming language" you use to turn your raw HTML pages into real beautiful websites.
            
            This course covers it all - we start at the very basics (What is CSS? How does it work? How do you use it)? and gradually dive in deeper and deeper. And we do this by showing both practical examples as well as the theory behind it.
            
            Getting started with CSS might look easy but there actually is a lot of depth to CSS - hence this course provides different "Tracks" or "Entry points" to exactly meet your demands and reflect you current knowledge level:
         </p>
         <p class="leading-relaxed mb-6" >
            Of course this course offers the theory and practical examples - we'll build an entire real course project throughout the course - but there also are multiple assignments, quizzes and challenges for you to practice individual concepts taught throughout the course.
            
            Talking about the course project - we'll build the frontend (no backend) of a fictional web hosting company. We'll have a starting screen which has different sections, we got a responsive design with an animated side-drawer, we got modals and forms and in general we got a lot of CSS animations, font styles and more!
         </p>
      </div>
      <div>
         <h2 class="text-2xl font-semibold">Requirement</h2>
         <hr class="my-2">
         <ul class="leading-loose list-disc pl-4" >
            <li>You should know the very basics about HTML and web development in general</li>
            <li>NO advanced HTML or web development knowledge is required though</li>
            <li>NO CSS knowledge is required at all! You'll learn it all in this course!</li>
         </ul>
      </div>
   </div>

   <div class="w-2/5  px-4 sticky top-0">
      <div class="shadow-md border-t drop-shadow-md rounded-2xl px-6 py-6">
         <div>
            <h2 class="text-2xl font-semibold" >Detail Course</h2>
            <hr class="my-2">
            
            <span class="text-lg font-medium" >Include in this course : </span>
            <ul class="mt-2" >
               <li class="flex items-center mb-2" >
                  <svg class="mr-4" height="24" viewBox="0 0 96 96" width="24" xmlns="http://www.w3.org/2000/svg">
                     <path d="M48 4C23.7 4 4 23.7 4 48c0 24.301 19.7 44 44 44 24.301 0 44-19.699 44-44C92 23.7 72.301 4 48 4zm0 80c-19.882 0-36-16.118-36-36s16.118-36 36-36 36 16.118 36 36-16.118 36-36 36z" />
                     <path d="M52 46.343V24a4 4 0 00-8 0v24l.003.027c.001.253.026.506.076.755.024.123.069.234.104.354.039.132.069.266.122.395.058.138.136.264.208.394.054.1.097.2.16.295.147.221.314.428.501.613l11.311 11.312a4 4 0 105.658-5.656L52 46.343z" />
                  </svg>
                  <span class="text-sm" >13 Hours Videos</span>
               </li>
               <li class="flex items-center mb-2" >
                  <svg class="mr-4" height="24" viewBox="0 0 846.66 846.66" width="24" xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd">
                     <path d="M44.68 7.8h672.58c11.46 0 20.76 9.3 20.76 20.76v38.08h63.96c11.46 0 20.75 9.29 20.75 20.76v595.18c0 11.46-9.29 20.76-20.75 20.76h-63.96V818.1c0 11.46-9.3 20.76-20.76 20.76H44.68c-11.46 0-20.75-9.3-20.75-20.76V28.56c0-11.46 9.29-20.76 20.75-20.76zm693.34 100.36v553.66h43.2V108.16h-43.2zm-543.78 85.51c-27.3 0-27.3-41.52 0-41.52H567.7c27.3 0 27.3 41.52 0 41.52H194.24zm0 500.84c-27.3 0-27.3-41.52 0-41.52H567.7c27.3 0 27.3 41.52 0 41.52H194.24zm0-375.63c-27.3 0-27.3-41.51 0-41.51H567.7c27.3 0 27.3 41.51 0 41.51H194.24zm0 125.21c-27.3 0-27.3-41.51 0-41.51H567.7c27.3 0 27.3 41.51 0 41.51H194.24zm0 125.21c-27.3 0-27.3-41.52 0-41.52H567.7c27.3 0 27.3 41.52 0 41.52H194.24zM696.5 49.32H65.44v748.02H696.5V49.32z" fill-rule="nonzero" />
                  </svg>
                  <span class="text-sm" >22 Article</span>
               </li>
               <li class="flex items-center mb-2" >
                  <svg class="mr-4" height="24" width="24" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linejoin:round;stroke-width:2px}</style></defs><g data-name="356-Document Code" id="_356-Document_Code"><path class="cls-1" d="M10 1L4 7v24h24V1H10z"/><path class="cls-1" d="M10 1v6H4M13 13l-4 4 4 4M19 21l4-4-4-4"/></g></svg>
                  <span class="text-sm" >48 Source Code</span>
               </li>
               <li class="flex items-center mb-2" >
                  <svg class="mr-4" height="24" width="24" id="Layer_1" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><style></style><path d="M13.72 27a.997.997 0 01-.708-.293l-2.527-2.527a1 1 0 010-1.414l2.527-2.527a1 1 0 111.414 1.414l-1.82 1.82 1.82 1.82A1 1 0 0113.72 27zM18.28 12.054a1 1 0 01-.707-1.707l1.82-1.82-1.82-1.82a1 1 0 111.415-1.414l2.527 2.527a1 1 0 010 1.414l-2.527 2.527a.997.997 0 01-.707.293z"/><path d="M20.808 24.473h-9.616a1 1 0 010-2h9.616A6.2 6.2 0 0027 16.28a6.19 6.19 0 00-2.755-5.153.999.999 0 111.111-1.662A8.184 8.184 0 0129 16.281c0 4.517-3.675 8.192-8.192 8.192zM7.17 22.684a.999.999 0 01-.56-.172A8.192 8.192 0 013 15.72c0-4.517 3.675-8.192 8.192-8.192h9.616a1 1 0 010 2h-9.616A6.2 6.2 0 005 15.72c0 2.06 1.021 3.98 2.731 5.136a1 1 0 01-.561 1.829z"/></svg>
                  <span class="text-sm" >Full lifetime access</span>
               </li>
               <li class="flex items-center mb-2" >
                  <svg class="mr-4" height="24" width="24" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><g data-name="49-Responsive"><path d="M45 0H3a3 3 0 00-3 3v32a3 3 0 003 3h13v4.28l-2.32.77A1 1 0 0013 44v2h-2v2h17v-2H15v-1.28l2.16-.72H28v-2H18v-4h10v-2H3a1 1 0 01-1-1v-6h26v-2H2V3a1 1 0 011-1h42a1 1 0 011 1v15h2V3a3 3 0 00-3-3z"/><path d="M46 20H32a2 2 0 00-2 2v24a2 2 0 002 2h14a2 2 0 002-2V22a2 2 0 00-2-2zm0 26H32v-3h14zm0-5H32V27h14zm0-16H32v-3h14z"/></g></svg>
                  <span class="text-sm" >Access on mobile and desktop</span>
               </li>
               <li class="flex items-center mb-2" >
                  <svg class="mr-4" height="24" width="24" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg"><path d="M1 39.117h29v9.766l6-3.6 6 3.6v-9.766h7v-38H1v38zm39.265-6.786c-.09.091-.186.175-.281.26-.054.048-.104.099-.16.145-.062.052-.128.096-.192.145a5.958 5.958 0 01-2.968 1.197l-.055.008a6.171 6.171 0 01-1.222 0l-.055-.008a5.962 5.962 0 01-2.968-1.197c-.064-.049-.13-.094-.192-.145-.055-.046-.106-.097-.16-.145-.095-.085-.19-.169-.281-.26a5.98 5.98 0 01-1.735-4.214c0-3.309 2.691-6 6-6s6 2.691 6 6a5.958 5.958 0 01-1.731 4.214zM40 45.351l-4-2.4-4 2.4V35.047c.034.02.072.033.107.052.265.148.538.284.82.402l.038.014a7.95 7.95 0 006.072 0l.038-.014c.282-.118.555-.253.82-.402.035-.019.073-.032.107-.052v10.304H40zM3 3.117h44v34h-5v-3.726a7.957 7.957 0 002-5.274c0-4.411-3.589-8-8-8s-8 3.589-8 8c0 2.021.759 3.864 2 5.274v3.726H3v-34z"/><path d="M12 7.117h26v2H12zM17 13.117h16v2H17zM7 31.117h11v2H7z"/></svg>
                  <span class="text-sm" >Certificate</span>
               </li>
            </ul>
         </div>

         <div class="mt-8">
            <h2 class="text-2xl font-semibold" >Demo Project</h2>
            <hr class="my-2">
            
            <a href="#">
               <img class="rounded-2xl mt-4" src="https://buildwithangga.com/storage/assets/thumbnails/thumbnail%20kelas%20design%20handoff%20front%20end%20development%20buildwith%20angga.png" alt="">
            </a>
         </div>
      </div>
   </div>
</div>