<form>
  <div class="w-full flex items-center pl-6 pr-40 mb-6">
    <div class="w-1/5">
      <label for="name">Nama</label>
    </div>
    <div class="w-4/5 ">
      <input type="text" name="name" id="name" value="Andar Pratama" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none">
    </div>
  </div>
  <div class="w-full flex items-center pl-6 pr-40 mb-6">
    <div class="w-1/5">
      <label for="username">Username</label>
    </div>
    <div class="w-4/5 ">
      <input type="text" name="username" id="username" value="andarpratama" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none">
    </div>
  </div>
  <div class="w-full flex items-center pl-6 pr-40 mb-6">
    <div class="w-1/5">
      <label for="email">Email</label>
    </div>
    <div class="w-4/5 ">
      <input type="text" name="email" id="email" value="andar.pratama@gmail.com" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none">
    </div>
  </div>
  <div class="w-full flex items-center pl-6 pr-40 mb-6">
    <div class="w-1/5">
      <label for="handphone">Handphone</label>
    </div>
    <div class="w-4/5 ">
      <input type="number" name="handphone" id="handphone" value="081283699257" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none">
    </div>
  </div>
  <div class="w-full flex items-center pl-6 pr-40 mb-6">
    <div class="w-1/5">
      <label for="city">City</label>
    </div>
    <div class="w-4/5 ">
      <input type="text" name="city" id="city" value="Tangerang" class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none">
    </div>
  </div>
  <div class="w-full flex items-center pl-6 pr-40 mb-6">
    <div class="w-1/5">
    </div>
    <div class="w-4/5 ">
      <button class="px-8 py-2 bg-indigo-600 rounded-md text-gray-50">Save</button>
    </div>
  </div>
</form>
