<nav class="bg-gray-800 shadow-sm top-0 py-2">
  <div class="px-6 lg:px-8 py-1 md:py-3 mx-0">
    <div class="flex items-center justify-between md:justify-start">
      <!-- Menu Trigger -->

      <!-- Menu Trigger -->
      <a href="/" class="font-bold text-gray-100 text-2xl">WytechIn</a>
      <div class="hidden md:flex space-x-3 flex-1 lg:ml-10 md:ml-4">
        <div class="relative hidden md:block">
          <input data-target="#result-search" type="text" class="md:w-128 lg:w-142-2 search pl-10 pr-2 h-10 py-1 rounded-lg bg-gray-900 focus:bg-gray-700 text-gray-50 focus:outline-none focus:shadow-inner leading-none" autocomplete="off" placeholder="Search">
          <svg class="h-6 w-6 text-gray-300 ml-2 mt-2 stroke-current absolute top-0 left-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
          <div id="result-search" class="hidden lg:w-142-2 result-search bg-gray-50 absolute z-20">
            <div class="border-b hover:bg-indigo-100">
              <div class="px-4 py-2 cursor-pointer">
                Result
              </div>
            </div>
            <div class="border-b hover:bg-indigo-100">
              <div class="px-4 py-2 cursor-pointer">
                Result
              </div>
            </div>
            <div class="border-b hover:bg-indigo-100">
              <div class="px-4 py-2 cursor-pointer">
                Result
              </div>
            </div>
            <div class="border-b hover:bg-indigo-100">
              <div class="px-4 py-2 cursor-pointer">
                Result
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="flex items-center space-x-4">
        <a *ngIf="userIsAuthenticated" href="/cart" class="flex h-10 items-center px-2 rounded-lg hover:shadow-inner">
            <svg class="h-6 w-6 leading-none text-gray-300 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
            </svg>
            <span class="pl-1 text-gray-500 text-md">{{ cartCount }}</span>
         </a>
         <a *ngIf="userIsAuthenticated" href="/mylearn" class="cursor-pointer py-3 px-4 rounded-full text-sm font-mitr text-gray-100 uppercase hover:text-white">My Learn</a>
         <a *ngIf="!userIsAuthenticated" href="/auth/login" class=" border border-gray-400 py-3 px-8 hover:bg-indigo-600 rounded-full text-sm font-mitr text-gray-100 uppercase hover:text-white">Login</a>
         <a *ngIf="!userIsAuthenticated" href="/auth/register" class=" mr-4 border-2 border-indigo-500 hover:border-indigo-600 bg-indigo-500 hover:bg-indigo-600 py-3 px-8 rounded-full text-sm font-mitr text-white uppercase">Register</a>
         <a *ngIf="userIsAuthenticated" (click)="onLogout()" class="cursor-pointer py-3 px-4 rounded-full text-sm font-mitr text-gray-100 uppercase hover:text-white">Logout</a>
         <a href="/profile" *ngIf="userIsAuthenticated" >
           <img src="https://kingpoinindonesia.com/assets/profile/user.png" alt="Image Profile" class="w-12 h-12 border border-gray-100 rounded-full">
         </a>
      </div>
    </div>

    <!-- Search Mobile -->
    <div class="relative md:hidden">
      <input data-target="#result-search2" type="text" class="search my-2 w-full pl-10 pr-2 h-10 py-1 rounded-lg bg-gray-900 focus:bg-gray-700 text-gray-50 focus:outline-none focus:shadow-inner leading-none" autocomplete="off" placeholder="Search">

      <svg class="h-6 w-6 text-gray-300 ml-2 mt-3 stroke-current absolute top-0 left-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>

      <div id="result-search2" class="hidden -mt-3 w-full bg-gray-50 absolute">
        <div class="border-b hover:bg-indigo-100">
          <div class="px-4 py-2 cursor-pointer">
            Result
          </div>
        </div>
        <div class="border-b hover:bg-indigo-100">
          <div class="px-4 py-2 cursor-pointer">
            Result
          </div>
        </div>
        <div class="border-b hover:bg-indigo-100">
          <div class="px-4 py-2 cursor-pointer">
            Result
          </div>
        </div>
        <div class="border-b hover:bg-indigo-100">
          <div class="px-4 py-2 cursor-pointer">
            Result
          </div>
        </div>
      </div>

    </div>
    <!-- ./ Search Mobile -->

  </div>
</nav>


<!-- bottom nav -->
<nav class="">
  <div class="px-6 py-4 max-h-14 flex flex-row flex-nowrap overflow-x-scroll hide-scroll-bar items-center bg-gray-700 no-scrollbar">
   <div class="flex-shrink-0 absolute mr-6" >
      <div class="selected  w-full cursor-pointer px-4 flex justify-between items-center text-gray-200 hover:text-gray-50 bg-gray-800 rounded-3xl" >
         <span href="#" class=" mr-4 py-1 flex-shrink-0 ">All Categories</span>
            <svg class="fill-current h-5 w-5 text-gray-50 transform rotate-90" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
               <path d="M202.1 450a15 15 0 01-10.6-25.61L365.79 250.1 191.5 75.81a15 15 0 0121.21-21.21l184.9 184.9a15 15 0 010 21.21l-184.9 184.9A15 15 0 01202.1 450z" data-name="1" />
            </svg>
      </div>
      <div class="options-container w-96 pr-6 mt-3 absolute z-20 hidden pb-10">
         <div class="w-full option rounded-b-md bg-gray-700 text-gray-100 h-64 overflow-y-scroll" >
            <a href="/courses" *ngFor="let item of categories" class="inline-block w-full  cursor-pointer py-2 px-4 hover:bg-gray-800 ">
               <span>{{ item.name }}</span>
            </a>
         </div>
      </div>
   </div>
    <a href="{{ item.url }}" *ngFor="let item of categories" class="md:block mr-5 flex-shrink-0 text-gray-200 hover:text-gray-50"></a>
    <a href="{{ item.url }}" *ngFor="let item of categories" class="md:block mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">{{ item.name }}</a>

  </div>
</nav>
