<nav class="bg-gray-800 shadow-sm top-0 py-2">
  <div class="px-6 lg:px-8 py-1 md:py-3 mx-0">
    <div class="flex items-center justify-between md:justify-start">
      <!-- Menu Trigger -->

      <!-- Menu Trigger -->
      <a href="/" class="font-bold text-gray-100 text-2xl">WytechIn</a>
      <div class="hidden md:flex space-x-3 flex-1 lg:ml-10 md:ml-4">
        <div class="relative hidden md:block">
          <input data-target="#result-search" type="text" class="md:w-128 lg:w-142-2 search pl-10 pr-2 h-10 py-1 rounded-lg bg-gray-900 focus:bg-gray-700 text-gray-50 focus:outline-none focus:shadow-inner leading-none" autocomplete="off" placeholder="Search">
          <svg class="h-6 w-6 text-gray-300 ml-2 mt-2 stroke-current absolute top-0 left-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
          </svg>
          <div id="result-search" class="hidden lg:w-142-2 result-search bg-gray-50 absolute z-20">
            <div class="border-b hover:bg-indigo-100">
              <div class="px-4 py-2 cursor-pointer">
                Result
              </div>
            </div>
            <div class="border-b hover:bg-indigo-100">
              <div class="px-4 py-2 cursor-pointer">
                Result
              </div>
            </div>
            <div class="border-b hover:bg-indigo-100">
              <div class="px-4 py-2 cursor-pointer">
                Result
              </div>
            </div>
            <div class="border-b hover:bg-indigo-100">
              <div class="px-4 py-2 cursor-pointer">
                Result
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="flex items-center space-x-4">
        <!-- <a href="#" class="flex h-10 items-center px-2 rounded-lg hover:shadow-inner">
               <svg class="h-6 w-6 leading-none text-gray-300 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
               </svg>
               <span class="pl-1 text-gray-500 text-md">0</span>
            </a> -->

        <a routerLink="/register" class="lg:my-0 lg:px-8 my-2 py-2 text-white rounded-3xl">Signup</a>
        <a routerLink="/login" class="bg-indigo-500 text-white lg:my-0 my-2 px-8 py-2 rounded-3xl">Login</a>
      </div>
    </div>

    <!-- Search Mobile -->
    <div class="relative md:hidden">
      <input data-target="#result-search2" type="text" class="search my-2 w-full pl-10 pr-2 h-10 py-1 rounded-lg bg-gray-900 focus:bg-gray-700 text-gray-50 focus:outline-none focus:shadow-inner leading-none" autocomplete="off" placeholder="Search">

      <svg class="h-6 w-6 text-gray-300 ml-2 mt-3 stroke-current absolute top-0 left-0" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
      </svg>

      <div id="result-search2" class="hidden -mt-3 w-full bg-gray-50 absolute">
        <div class="border-b hover:bg-indigo-100">
          <div class="px-4 py-2 cursor-pointer">
            Result
          </div>
        </div>
        <div class="border-b hover:bg-indigo-100">
          <div class="px-4 py-2 cursor-pointer">
            Result
          </div>
        </div>
        <div class="border-b hover:bg-indigo-100">
          <div class="px-4 py-2 cursor-pointer">
            Result
          </div>
        </div>
        <div class="border-b hover:bg-indigo-100">
          <div class="px-4 py-2 cursor-pointer">
            Result
          </div>
        </div>
      </div>

    </div>
    <!-- ./ Search Mobile -->

  </div>
</nav>


<!-- bottom nav -->
<nav class="">
  <div class="px-6 py-4 max-h-14 flex flex-row flex-nowrap overflow-x-scroll hide-scroll-bar items-center bg-gray-700 no-scrollbar">
    <a href="#" class="mr-6 px-4 py-1 flex-shrink-0 text-gray-200 hover:text-gray-50 bg-gray-800 rounded-3xl">All Categories</a>
    <a href="{{ item.url }}" *ngFor="let item of categories" class="mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">{{ item.name }}</a>
    <!-- <a href="#" class="mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">UI / UX Designer</a>
    <a href="#" class="mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">Frontend</a>
    <a href="#" class="mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">Backend</a>
    <a href="#" class="mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">Data Science</a>
    <a href="#" class="mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">Basic Programming</a>
    <a href="#" class="mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">UI / UX Designer</a>
    <a href="#" class="mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">Frontend</a>
    <a href="#" class="mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">Backend</a>
    <a href="#" class="mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">Data Science</a>
    <a href="#" class="mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">Basic Programming</a>
    <a href="#" class="mr-6 flex-shrink-0 text-gray-200 hover:text-gray-50">UI / UX Designer</a> -->
  </div>
</nav>
