<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"></script>
<footer class="bg-gray-800 px-4 py-8">
  <div class=" m-auto text-gray-800 flex flex-wrap justify-left">
    <!-- Col-1 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
      <!-- Col Title -->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">
        Getting Started
      </div>

      <!-- Links -->
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Tech on Wytech
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        About Us
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Contact Us
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Service
      </a>
    </div>

    <!-- Col-2 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
      <!-- Col Title -->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">
        Other Feature
      </div>

      <!-- Links -->
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Carerrs
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Blog
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Help and Support
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Affiliate
      </a>
    </div>

    <!-- Col-3 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
      <!-- Col Title -->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">
        Customization
      </div>

      <!-- Links -->
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Terms
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Privacy policy
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Sitemap
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Featured courses
      </a>
    </div>

    <!-- Col-3 -->
    <div class="p-5 w-1/2 sm:w-4/12 md:w-3/12">
      <!-- Col Title -->
      <div class="text-xs uppercase text-gray-400 font-medium mb-6">
        Social Media
      </div>

      <!-- Links -->
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        GitHub
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Discord
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        Twitter
      </a>
      <a href="#" class="my-3 block text-gray-300 hover:text-gray-100 text-sm font-medium duration-700">
        YouTube
      </a>
    </div>
  </div>

  <!-- Copyright Bar -->
  <div class="pt-2">
    <div class=" py-5 px-3 border-t border-gray-500 text-gray-400 text-sm w-full sm:leading-none leading-8">
      <div class="mt-2 w-96 inline-block">
        © Copyright 2021 - <a class="hover:text-gray-100 duration-700" href="#"> <span class="md:hidden"><br></span> Wytech Online Course</a> | All Rights Reserved
      </div>
    </div>
  </div>
</footer>
